.go {
    background-color: green;
}
.stay {
    background-color: red;
}
.reset {
    background-color: gray;
}
#timer {
    width: 40%;
    margin: auto;
    font-size: 70px;
    font-family: cursive;
    text-align: center;
    height: 100px;
    border-radius: 10px;
    
}

input {
    display: block;
    margin: auto;
    width: 50%;
}
div{
    margin: auto;
    text-align: center;
}