body{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    grid-row-gap: 5px;
}
.one{
    /*width: 30%;
    margin: auto;*/
    border: solid 3px gray;
    border-radius: 10px;
}
img {
    width: 100%;
    border-radius: 10px;
}

a {
    display: block;
    border: solid blue 1px;
    border-radius: 10px;
    background-color: blue;
    width: 40%;
    text-decoration: none;
    color: cornsilk;
    padding: 10px;
}
a:hover{
    background-color: cornsilk;
    color: blue;
}